*{
    margin: 0;
    padding: 0;
}

#header{
    background-color: rgb(61, 61, 75);
    font-size: x-large;
    padding: 50px;
    text-align: center;
    color:white;   
}

#header2{
    background-color: rgb(44, 44, 245);
    font-size: x-large;
    padding: 50px;
    text-align: center;
    color:rgb(255, 253, 253);   
}

#header3{
    background-color: rgb(243, 173, 132);
    font-size: x-large;
    padding: 50px;
    text-align: center;
    color:rgb(8, 8, 8);   
}

#header4{
    background-color: rgb(57, 133, 82);
    font-size: x-large;
    padding: 50px;
    text-align: center;
    color:rgb(12, 9, 9);   
}



#menu{
    background-color: rgb(227, 227, 236);
    font-size: large;
    padding: 20px;
    text-align: center;
    text-decoration: none;
   
}

#menu a:visited{
    color: rgb(8, 0, 0);
    text-decoration: none;
    
}

#menu a:hover{
    color: white;
    text-decoration: none;
    background-color: rgb(5, 12, 12);
}



#posts{
    background-color: rgb(234, 243, 250);
    font-size: medium;
    padding: 20px;
    text-align: center;
    

}

.img-post{

    width: 1000px;
    
}


#rodape{
    text-align: right;
    padding: 20px;
    
}




#caixatexto{
    box-sizing: 500px;
    padding: 130px;
    margin: 5px
}
